<html>
<head>
    <title>RAGE's blog</title>
</head>
    <body>
    <div>
        <H1><em>WTF is going on here? oO</em></H1>
    </div>
    <div>
        <p>published: Friday 13</p>
        <H2>First one!</H2>
        <p>Pretty funny! does it concern to Django somehow?</p>
    </div>
    <div>
        <p>published: the same day</p>
        <H2>Second one</H2>
        <a href="http://djangogirls.org">mwahaha</a>
    <div>
        <p>published: a bit later</p>
        <H2>some posts in brackets</H2>
        {% for post in posts %}
        <div>
            <p>published: {{ post.publish_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaks }}</p>
        </div>
        {% endfor %}
    </div>
    </body>

</html>
